*{margin: 0; padding: 0;}
header
{
	width: 100%;
	height: 189px;
}
nav
{
	margin: auto;
	height: auto;
	width: 70%;
}
@font-face {
    font-family: Gilroy ExtraBold; 
    src: url(fonts/Gilroy-ExtraBold.otf); 
   }
@font-face {
    font-family: Gilroy Light; 
    src: url(fonts/Gilroy-Light.otf); 
   }
nav img
{
	float: left;
	margin-top: 17px;
}
nav menu
{
	width: 800px;
	float: left;
	margin-top: 84px;
	font-family: Gilroy ExtraBold;
	margin-left: 320px;
}
nav menu ul li
{
	display: block;
	float: left;
	margin-left: 90px;
}
nav menu ul li a
{
	text-decoration: none;
	color: black;
	font-size: 24px;
}
nav .basket
{
	float: right;
	margin-top: 58px;
}
section
{
	width: 70%;
	height: auto;
	margin: auto;
	position: relative;
}
.photo
{
	width: 779px;
	height: 890px;
	float: left;
}
#text
{
	width: 800px;
	height: auto;
	position: absolute;
	z-index: 1;
}
#text h1 
{

	font-size: 66px;
	font-family: Gilroy ExtraBold; 
	margin-top:0;
	float: left;
	background: #EDD1D9;
	margin-left: 0px;
	padding: 0 0.2em 0.1em 0.5em;
}
#text h1:nth-child(1)
	{
		margin-top: 80px
	}
#text p
{
	font-size: 26px;
	font-family: Gilroy Light; 
	margin-top: 350px;
	margin-left: 100px;
}
#text button
{
	width: 180px;
	border: 0;
	background: none;
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;
	font-family: Gilroy Light; 
	letter-spacing: 2px;
	margin-top: 50px;
	cursor: pointer;
	outline: none;
	margin-left: 100px;
}
#lookbook
{
	width: 100%;
	float: left;
}
#lookbook .lookbook
{
	margin: 200px auto;
	width: 70%;
}
#lookbook .lookbook h1
{
	text-align: center;
	font-size: 26px;
	font-family: Gilroy ExtraBold; 
}
.lookbook_tovar1
{
	width: 570px;
	height: 1000px;
	float: left;
}
.lookbook_tovar
{
	width: 1170px;
	height: 100px;
	margin: 100px auto;
}
.lookbook_tovar2
{
	width: 570px;
	height: 1000px;
	float: right;
}
.name_photo
{
	width: 570px;
	height: 700px;
	float: left;
	background-color: #C4C4C4;
	cursor: pointer;
}
.name_tovar
{
	font-family: Gilroy Light;
	font-size: 16px;
	margin-top: 10px;
	float: left;
}
.name_color
{
	width: 20px;
	height: 20px;
	float: right;
	background: #FFCAB8;
	margin-top: 10px;
}
.name_color:nth-child(3)
{
	background: #E88282;
	margin-left: 5px;
}
.name_tovar p
{
	font-size: 22px;
}
.name_color:nth-child(4)
{
	background: #BC72F0;
	margin-left: 5px;
}
.name_color:nth-child(5)
{
	background: #9D91FF;
	margin-left: 5px;
}
.lookbook_tovar1 button
{
	margin-top: 100px;
}
.lookbook_tovar2 button
{
	margin-top: 100px;
}
button
{
	width: 180px;
	border: 0;
	background: none;
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;
	font-family: Gilroy Light; 
	letter-spacing: 2px;
	margin-top: 50px;
	cursor: pointer;
	outline: none;
	margin-left: 100px;
	font-size: 20px;
}
select
{
	border: white;
    margin-left: 540px;
    margin-top: 50px;
    font-size: 23px;
    font-family: Gilroy Light; 
}
.more
{
	width: 570px;
	height: 1000px; 
    background: white;
    margin-bottom: 100px;
}
.about
{
	width: 1135px;
	height: 455px;
	background: none;
	margin-top: 220px;
}
.about p
{
	font-family: Gilroy ExtraBold;
	font-size: 32px;
	text-align: center;
}
#box1
{
	width: 430px;
	height: 260px;
	background: #E0BEE8;
	position: absolute; 
}
#box2
{
	width: 335px;
	height: 265px;
	background: #F0DFFF;
	position: absolute;
	margin-top: 133px;
	margin-left: 190px; 
}
#box3
{
	width: 570px;
	height: 212px;
	margin-left: 530px;
}
#box3 p
{
	font-family: Gilroy Light;
	font-size: 17px;
	float: left;
}
.name_photo img
{
	height: 100%;
}
#lookbook_tovar1_magazin
{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: #dadada;
	width: 1170px;
	height: 1117px;
	z-index: 5;
	display: none; 
}
#lookbook_tovar1_magazin .close
{
	width: 69px;
	height: 69px;
	float: right;
	cursor: pointer;
}
.img_photo
{
	float: left;
	margin-left: 100px;
	margin-top: 20px;
}
.img_photo:nth-child(4)
{
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}
.img_photo:nth-child(5)
{
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}
.img_photo2
{
	float: left;
	margin-left: 60px;
	margin-top: 60px;
}
.img_photo:nth-child(3)
{
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}
.name_tovar2
{
	font-family: Gilroy Light;
	font-size: 18px;
	margin-top: 10px;
	float: left;
	width: 675px;
	line-height: 1.5em;
	padding: 100px;
	margin-left: 50px;
}
.name_color2
{
	width: 20px;
	height: 20px;
	float: left;
	background: red;
	margin-top: 110px;
	margin-left: 5px;
}
.color2
{
	background: blue;
}
.tovar
{
	width: 996px;
	float: left;
	margin-left: 5px;
	margin-top: -130px;
}
.name_color3
{
	width: 20px;
	font-size: 12px;
	font-family: Gilroy Light;
	height: 20px;
    outline: 1px solid black;
	float: right;
	outline-offset: -1px;
	margin-left: 5px;
	margin-top: 150px;
}
.name_color3:hover
{
   cursor: pointer;
   color: #fff;
   outline: 1px solid #fff;
}
.name_color3
{
	text-align: center;
}
.name_color3 p
{
	padding-top: 3px;
}
#text2 
{
	font-size: 20px;
	color: black;
	float: left;
    width: 526px;
    height: 120px;
    margin-left: 40px;
    font-family: Gilroy Light;
    font-size: 15px;
    margin-top: 20px;
}
#text2 p
{
	font-size: 19px;
}
.click button
{
	width: 130px;
	border: 0;
	background: none;
	background-color: black; 
	color: white;
	float: left;
	padding: 1em;
	font-family: Gilroy Light; 
	letter-spacing: 2px;
	cursor: pointer;
	margin-left: 120px;
	font-size: 16px;
	outline: none;
	margin-top: 130px;
	/*margin-right: -50px;*/
}
.click button:nth-child(2)
{
	border: 1px solid black;
	background: none;
	color: black;
	margin-top: 10px;
}
.click 
{
	width: 140px;
	float: right;
	margin-right: 125px;
    margin-top: -100px;
}
.review
{
	width: 1135px;
	height: 455px;
	background: none;
	margin-top: 220px;
}
.review p
{
	font-family: Gilroy ExtraBold;
	font-size: 32px;
	text-align: center;
}
#box4
{
	width: 770px;
	height: 303px;
	background: #E2E0E2;
	margin-left: 200px;
	margin-top: 100px;
}
#box4 img
{
    margin-left: 315px;
    width: 110px;
    height: 110px;
    margin-top: -50px;
}
h3
{
	font-family: Gilroy ExtraBold;
	margin-left: 330px;
	margin-top: 15px;
}
h4
{
	text-align: center;
	font-family: Gilroy Light;
	margin-top: 15px;
}
#img img
{
    margin-left: 1130px;	
    margin-top: -250px;
    margin-bottom: 140px;
}
table
{
	width: 915px;
	height: 330px;
	background: white;
}
td 
{
	text-align: center;
	background: white;
	;
}
input
{
	height: 50px;
	width: 470px;
	color: black;
}
#tel p
{
	font-size: 20px;
	font-family: Gilroy Light;
}
input[type='text']
{
	outline: none;
	background: #E8E8E8;
}
::-webkit-input-placeholder
{
	color: black;
	font-size: 18px;
	font-family: Gilroy Light;
	padding: 15px;
}
#email
{
	outline: none;
	background: #E8E8E8;
}
::-webkit-textarea-placeholder
{
	color: black;
	font-size: 18px;
	font-family: Gilroy Light;
	padding: 15px;
}
input[type='button']
{
	width: 470px;
	padding: 15px;
	margin-top: 15px;
	margin-left: 35px;
	background: none;
	outline: none;
	border: none;
	background: black;
	color: white;
	height: 50px;
	font-size: 25px;
	font-family: Gilroy Light;
}
.click button:nth-cild(2)
{
	border: 1px solid black;
	background: none;
	color: black;
}
@media (max-width: 425px)
{
	header
	{
		height: 120px;
		box-shadow: 0 0 10px rgba(0,0,0,0.0);
	}
	nav menu
	{
		display: none;
	}
	.logo
	{
		width: 92px;
		height: 92px;
		margin: auto;
	}
	.logo img
	{	
		width: 92px;
		height: 92px;
	}
	.basket img
	{
		margin-top: -110px;
		margin-right: 10px;
	}
	#menuburger
	{
		display: block;
		position: absolute;
		left: 20px;
		top: 30px;
	}
	section
	{
		width: 100%;
		height: auto;
		margin: auto;
		position: relative;
		overflow: hidden;
	}
	.photo
	{
		display: none;
	}
	.photo2
	{
		width: 100%;
		display: block;
		float: right;
	}
	.photo2 img
	{
		width: 100%;
	}
	
	#text
	{
		width: 90%;
		height: auto;
		position: absolute;
		z-index: 1;
		left: 0;
	}
	#text h1 
	{

		font-size: 26px;
		font-family: Gilroy ExtraBold; 
		margin-top:0;
		float: left;
		background: #EDD1D9;
		margin-left: 0px;
		padding: 0 0.2em 0.1em 0.5em;
	}
	#text h1:nth-child(1)
	{
		margin-top: 80px
	}

	#text p
	{
		font-size: 18px;
		font-family: Gilroy Light; 
		float: left;
		/*margin-top: 100px;*/
		margin-left: 0.8em;
		font-weight: bold; 
	}
	#text button
	{
		width: 160px;
		border: 0;
		float: left;
		background: none;
		background-color: black;
		color: white;
		text-align: center;
		padding: 1em;
		font-family: Gilroy Light; 
		letter-spacing: 2px;
		margin-top: 25px;
		cursor: pointer;
		outline: none;
		margin-left: -130px;
	}

	nav menu
	{
		width: 100%;
		position: absolute;
		left: -100%;
		top: 0;
		z-index: 5;
		padding-top: 1em;
		/*background: red;*/
		font-family: Gilroy ExtraBold;
	}
	nav menu ul li
	{
		display: block;
		clear: both;
		width: 92%;
		padding: 1em;
		margin-left: 55px;
		background: rgba(255,255,255,0.9);
		text-align: center;
	}
	nav menu ul li a
	{
		text-decoration: none;
		color: black;
		font-size: 24px;
	}
	
}

#nav1
{
	display: block;
}
#nav2
{
	display: block;
}
#nav3
{
	display: block;
}
menu img
{
	display: block;
}